<!DOCTYPE html>
<html lang="{{ page.pang | default: site.lang | default: "ko" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
      <main>
        {% if page.pagetype == "home" %}
          {{ content }}
        {% elsif page.pagetype == "updates" %}
          {%- include category.html -%}
        {% elsif page.class == "hideable" %}
          {%- include hideable.html -%}
        {% else %}
          {%- include article.html -%}
        {% endif %}
      </main>
    {%- include footer.html -%}
  </body>
</html>